<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Data</directory>
            <file>./Loader.php</file>
            <file>./HasRegion.php</file>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

